<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Working with Restrictions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/restrictions2.css">
</head>
<body>
<div id="all">
<div id="title"><h1>Chose De Vin</h1></div>
<div id="words1"><p>Wine is an alcoholic beverage made from fermented grapes or other fruits. The natural <br>
chemical balance of grapes lets them ferment without the addition of sugars, acids, en- <br>
zymes, water, or other nutrients. Yeast consumes the sugars in the grapes and con- <br>
verts them into alcohol and carbon dioxide. Different varieties of grapes and strains of <br>
yeasts produce different styles of wine.</p></div>

<div id="words2"><p>The well-known variations result from the very <br>
complex interactions between the biochemi- <br>
cal development of the fruit, reactions in- <br>
volved in fermentation, terroir and subse- <br>
quent appellation, along with human interven- <br>
tion in the overall process. <br>
Wine is a psychoactive drug, as are all alco- <br>
holic beverages. Commonly used for its in- <br>
toxicating effects today and throughout histo- <br>
ry. The psychoactive effects of wine are evi- <br>
dent at the normal serving size.</p></div>
<div id="wine"><img src="../Images/wine.jpg" style="max-height:400px;max-width:400px;"></div>
<div id="picture"><img src="../Images/nuit-noire.jpg" style="max-height:400px;max-width:400px;"></div>
</div>
</body>
</html>