@font-face {
    font-family: 'MuseoSans-500';
    src: url("../fonts/museosans.otf") format("OpenType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url("../fonts/museosansitalic.otf") format("OpenType");
    font-weight: 300;
    font-style: italic;
}

body {
    background-color: black;
}

#everything {
    color: white;
    z-index: 2;
    margin-top: -10%;
}

p {
    margin: 21.6px 80px 21.6px 80px;
    font-size: 25px;
}

q {
    font-size: 29px;
}

#mars {
    background-image: url(../images/mars.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    width: 1280px;
    height: 540px;
    margin-left: 3%;
    margin-top: -7%;
}

h1 {
    font-family: MuseoSans-500;
    text-align: center;
    font-size: 80px;
    padding-top: 20%;
}

h2 {
    font-family: MuseoSans-500;
    text-align: center;
    font-size: 35px;
    margin-top: -3%;
}

h3 {
    font-size: 27px;
    margin: 20px 0 20px 40px;
}

blockquote {
    display: block;
    width: 20%;
    margin: 27.2px 36px 27.2px 40px;
    padding: 48px 0 48px 0;
    border-top: solid white 8px;
    border-bottom: solid white 8px;
    float: left;

}

figure {
    display: block;
    width: 20%;
    margin: -7px 40px 16px 36px;
    float: right;
    border-bottom: solid white 8px;
}
figcaption {
    font-size: 20px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

#poll {
    background-color: gray;
    font-size: 18px;
    color: white;
    margin-left: 64px;
    margin-right: 64px;
}
/*  Galaxy S5  */
@media screen and (max-width: 400px) and (min-width: 360px) {
    #mars {
        width: 360px;
        height: 115px;
        margin-left: 1%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        margin-top: -5%;
        font-size: 13px;
    }

    #everything {
        margin-top: 5%;
    }

    p {
        font-size: 14px;
    }

    q {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    figcaption {
        font-size: 12px;
    }

    figure img {
        margin-left: -25%;
        width: 120px;
        height: 80px;
    }

    #poll {
        font-size: 14px;
    }
}
/*  iPad  */
@media screen and (max-width: 800px) and (min-width: 760px) {
    #mars {
        width: 750px;
        margin-left: 2%;
    }

    h2 {
        margin-top: -7%;
    }

    #everything {
        margin-top: -33%;
    }

    figure img {
        width: 160px;
        height: 100px;
    }
}